html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  // font-family: "Raleway", sans-serif;
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.clean {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.navBtn {
  display: none;
}

/* Fonts */

/* Layout */

.grid-container {
  // max-width: 1020px;
  display: grid;
  grid-template-areas:
    "header"
    // "Hero"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: -1rem 9rem 1fr 20rem;
  // grid-template-rows: 0rem 6rem 1fr 20rem;
  grid-template-rows: 8.9rem 1fr 25rem;
  height: 100%;
  width: 100vw;
}
// .grid-container {
//   grid-template-rows: 10rem 1fr 20rem;
// }
header {
  height: 8.9rem;
  background-color: #292929;
  // margin: 0 auto;
  // max-width: 1020px;
}

.main-header {
  width: 100%;
  margin: 0 auto;
  width: 1020px;
}
main {
  grid-area: main;
  margin-top: 9px;
  margin: 0 auto;
  max-width: 1020px;
}
// .Hero {
//   grid-area: Hero;
// }
footer {
  grid-area: footer;
  box-shadow: inset 0 1px 0 #e1e0e0;
  background-color: #f8f8f8;
  color: #606060;
}

footer p {
  margin: 0;
}

/* Common */
a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

a:hover {
  color: rgb(199, 130, 26);
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
// button:hover {
//   border: 0.1rem #404040 solid;
// }
// button.primary {
//   background-color: #f0c040;
// }
// button.primary:active {
//   background-color: #fde08f;
// }
button.block {
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


.badge {
  background-color: #292929;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.2rem;
}

button.small {
  font-size: 1.2rem;
}

/* header */
/////
.hero {
  background-image: url("./style/img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 59vh;

  .hero-txt {
    text-align: center;
    z-index: 1;
    padding: 0 1rem;
    // -webkit-text-stroke: 1px rgb(31, 30, 30); /* width and color */
    -webkit-text-stroke: 0.2px rgb(2, 2, 2); /* width and color */

    &.head {
      font-family: "Special Elite", cursive;
      font-size: 9rem;
      color: #fff;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 900px) {
        font-size: 5rem;
      }

      @media screen and (max-width: 560px) {
        font-size: 4rem;
      }
    }

    &.small {
      font-family: "Special Elite", cursive;
      font-size: 4rem;
      color: #fff;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 900px) {
        font-size: 4rem;
      }

      @media screen and (max-width: 640px) {
        font-size: 3rem;
      }
    }
  }
}

header a {
  color: white;
  padding: 1rem;
}

header .navIcon {
  font-size: 25px;
  padding-right: 20px;
}

a.logo {
  font-family: inherit;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.center {
  justify-content: center;
}

.min-30 {
  min-width: 30rem;
}
.min-15 {
  min-width: 15rem;
}

.p-1 {
  padding: 1rem;
}
/* Image */

img {
  // border-radius: 0.5rem;
}

img.medium {
  max-width: 19rem;
  width: 100%;
  // padding: 0.5rem;
  height: 25rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

/* @media(){
} */
img.large {
  width: 85%;
  height: 510px;
}
/* Card */

.card {
  // border: 1px black solid;

  // font-family: "Raleway", sans-serif;
  font-family: "Poppins", sans-serif;
  transition: transform 0.24s ease-out;
  background-color: rgb(255, 255, 255);
  // border-radius: 0.5rem;
  margin: 1rem;
}

.card a {
  color: black;
  cursor: pointer;
}
.card p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.toggle-fav {
  // position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
  font-size: 1.25em;
  line-height: 1.25rem;
  border-radius: 12px;
  z-index: 30;
  padding: 0.5rem;
  color: #2d2d2d;
  background-color: rgb(199, 198, 198);
}
.card .title {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.card-body {
  // width: 80%;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.pre-reviews {
  padding-left: 20px;
}
.pre-price {
  color: black;
  padding-top: 15px;
  align-items: baseline;
  font-size: 1.8rem;
  font-weight: bold;
}
.price {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.9rem;
  color: #d01345;
}

.productDetails {
  text-align: center;
  // padding-top: 10px;
}

.small-card-details {
  text-align: initial;
}

.Back-to-result {
  color: black;
  font-weight: bold;
  padding-top: 12px;
}
/* Rating */

.rating span {
  color: #f0c040;
}

/* CART */
.cart-list {
  border: 0.5px solid rgb(173, 172, 172);
  padding: 10px;
  border-radius: 0.5rem;
}
.cart-list:hover {
  background-color: rgb(245, 245, 212);
}


/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* FORM */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #c0c0c0;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
.space-btn {
  display: flex;
  justify-content: space-evenly;
}

/* SEARCH*/

.search button {
  border-radius: 0 3.5rem 3.5rem 0;
  background-color: #ffffff;
  border-left: 0;
  border-right: none;
  margin-left: none;
}
.search input {
  border-radius: 3.5rem 0 0 3.5rem;
  width: 40rem;
  font-size: 1.3rem;
  border-right: none;
  margin-left: 0.5rem;
}
.search input:hover {
  // background-color: #606060;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08), 0 6px 9px 0 rgba(0,0,0,0.08), 0 8px 27px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.4s ease-out;
  // box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04), 0 6px 9px 0 rgba(0,0,0,0.04), 0 8px 27px 0 rgba(0,0,0,0.04);
}

.burgerMenu {
  display: none;
}

.burger {
  width: 2rem;
  height: 2erm;
  position: fixed;
  top: 13px;
  right: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.burger div {
  width: 3rem;
  height: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.SideDrawer {
  position: fixed;
  width: 250px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.menu {
  z-index: 30;
  display: none;
}
.hamburger-menu {
  padding-left: 210px;
  z-index: 30;
}

.opened {
  display: none;
}

@media screen and (max-width: 1120px) {
  .main-header {
    width: 930px;
  }
  main {
    width: 930px;
  }
  .search input {
    width: 35.5rem;
    // height: 30px;
    padding: 7.5px;
  }
  .search button {
    height: 35px;
  }
  header .navIcon {
    font-size: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 960px) {
  .main-header {
    width: 840px;
  }
  main {
    width: 840px;
  }
  header .navIcon {
    font-size: 17.5px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 845px) {
  .main-header {
    width: 745px;
  }
  main {
    width: 745px;
  }

  header .navIcon {
    font-size: 17.5px;
    padding-right: 0;
  }
}
@media screen and (max-width: 775px) {
  .grid-container{
    grid-template-rows: 6.9rem 1fr 25rem;
  }
  .main-header {
    width: 675px;
  }
  main {
    width: 675px;
  }
  header {
    height: 6.9rem;
  }
  .search input {
    width: 25.5rem;
  }
  .opened {
    display: block;
  }
  .navBtn {
    display: block;
    z-index: 20;

    position: relative;
    font-size: 35px;
    color: white;
  }
  .navBar {
    display: none;
    // display: flex;
    transition: all 0.5s ease-in-out;
    background-color: #6b6767d2;
    position: fixed;
    flex-direction: column;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
  }

  &.hide {
    right: -50%;
    position: fixed;
    // display: none;
    opacity: 0;
    // z-index: 10;
  }

  .navBar a {
    margin-top: 45px;
    text-align: center;
    // border-bottom: 3px solid #f0f0f0;
    // width: 80%;
  }
  .hamburger-menu {
    padding-left: 420px;
  }
  &.link {
    border-bottom: 3px solid #f0f0f0;
    width: 80%;
    padding-bottom: 15px;
  }
  .link:hover {
    border-bottom: 3px solid #f08000;
    color: #f08000;
  }
  .link:active {
    color: #ddbe32;
    border-bottom: 3px solid #ddbe32;
  }
  .link a:active {
    color: #ddbe32;
  }
  .navBar .dropdown {
    margin-top: 40px;
    text-align: center;
    // border-bottom: 3px solid #f0f0f0;
    // width: 80%;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened {
    z-index: 500;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

@media screen and (max-width: 675px) {
  .main-header {
    width: 570px;
  }
  main {
    width: 570px;
  }
  .hamburger-menu {
    padding-left: 280px;
  }
}

@media screen and (max-width: 560px) {
  .main-header {
    width: 410px;
  }
  main {
    width: 410px;
  }
  .hamburger-menu {
    padding-left: 220px;
  }
  // .grid-container {
    // grid-template-rows: 40rem 10rem 1fr 20rem;
    // grid-template-rows: -0.5rem 6rem 1fr 20rem;
  // }
  .product-page-payment-info {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 170px;
  }
  .eighty-percent {
    width: 80%;
  }
  .SideDrawer {
    display: none;
  }
  .search input {
    width: 12rem;
  }
  .search button {
    // height: 32px;
    // z-index: 10;
    padding-top: 5px;
    height: 27px;
    width: 34px;
  }
  .search input {
    height: 27px;
    width: 25.5rem;
  }

  a.logo {
    font-size: 3rem;
  }
  .min-15 {
    min-width: 0;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

// HELPERS //
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-baseline {
  align-items: baseline;
}
.justify-center {
  justify-content: center;
}
// .justify-start {
//   justify-content: start;
// }
.align-center {
  align-items: center;
}
.column {
  flex-direction: column;
}


.multi-button {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  button {
    background: white;
    border: 0.175em solid black;
    cursor: pointer;
    font: 600 1.5rem/1.25 'Montserrat', sans-serif;
    letter-spacing: 0.175em;
    margin: 0.5rem;
    padding: 0.5em 0.75em;
    position: relative;
    text-transform: uppercase;
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: all 0.125s ease-in-out;
    }
    &.primary {
      &:after {
        border: 0.175em dashed black;
        bottom: 0.175em * -1;
        left: 0.175em * -1;
        right: 0.175em * -1;
        top: 0.175em * -1;
      }
      &:active:after,
      &:focus:after {
        bottom: 0.175em;
        left: 0.175em;
        right: 0.175em;
        top: 0.175em;
      }
    }
  }
}