html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.clean {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.navBtn {
  display: none;
}

/* Fonts */

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  height: 5.9rem;
  background-color: rgb(49, 71, 104);
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(49, 71, 104);
  color: white;
}

/* Common */
a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

a:hover {
  color: rgb(199, 130, 26);
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.primary:active {
  background-color: #fde08f;
}
button.block {
  width: 100%;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

button.small {
  font-size: 1.2rem;
}

/* header */
/////
.hero {
  background-image: url("./style/img/hero-store.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 75vh;

  .hero-txt {
    text-align: center;
    z-index: 1;
    padding: 0 1rem;
    // -webkit-text-stroke: 1px rgb(31, 30, 30); /* width and color */
    -webkit-text-stroke: 0.2px rgb(2, 2, 2); /* width and color */

    &.head {
      font-family: "Special Elite", cursive;
      font-size: 9rem;
      color: #fff;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 900px) {
        font-size: 5rem;
      }

      @media screen and (max-width: 560px) {
        font-size: 4rem;
      }
    }

    &.small {
      font-family: "Special Elite", cursive;
      font-size: 4rem;
      color: #fff;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 900px) {
        font-size: 4rem;
      }

      @media screen and (max-width: 640px) {
        font-size: 3rem;
      }
    }
  }
}

header a {
  color: white;
  padding: 1rem;
}

a.logo {
  font-family: inherit;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.center {
  justify-content: center;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}
/* Image */

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 18rem;
  width: 100%;
  padding: 0.5rem;
  height: 22rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

/* @media(){
} */
img.large {
  width: 100%;
}
/* Card */

.card {
  border: 1px black solid;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Rating */

.rating span {
  color: #f0c040;
}

/* CART */
.cart-list {
  border: 0.5px solid rgb(173, 172, 172);
  padding: 10px;
  border-radius: 0.5rem;
}
.cart-list:hover {
  background-color: rgb(245, 245, 212);
}
.delete-item-from-cart:active {
  background-color: wheat;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* FORM */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
.space-btn {
  display: flex;
  justify-content: space-evenly;
}

/* SEARCH*/

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-left: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

.burgerMenu {
  display: none;
}

.burger {
  width: 2rem;
  height: 2erm;
  position: fixed;
  top: 13px;
  right: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.burger div {
  width: 3rem;
  height: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.SideDrawer {
  position: fixed;
  width: 250px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media screen and (max-width: 720px) {
  .navBtn {
    display: block;
    z-index: 20;
    position: relative;
    font-size: 35px;
    color: white;
  }
  .navBar {
    display: none;
    // display: flex;
    background-color: rgb(82, 126, 192);
    position: fixed;
    flex-direction: column;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
  }

  .navBar a {
    margin-top: 30px;
  }
  .navBar .dropdown {
    margin-top: 40px;
  }

  .burgerMenu {
    display: block;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .SideDrawer {
    display: none;
  }

  .search button {
    height: 32px;
    width: 34px;
  }
  .search input {
    height: 10px;
  }

  a.logo {
    font-size: 3rem;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

// HELPERS //
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
// .justify-start {
//   justify-content: start;
// }
.align-center {
  align-items: center;
}
.column {
  flex-direction: column;
}
